@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.navText {
    color: #001D6E;
    font-family: 'Lora', serif;
}
.drop {
    font-size: 16px;
    margin-right: 23px;
    margin-top: 4px;
}
.nav-item {
    display: flex;
    align-items: center;
    margin-left: 12px
}

#background {
    background-color: #F3E8DD;
}
#toggle {
    border-color: #001D6E
}
#navImage img {
    margin-left: 50px; /* Adjust the margin as needed */
}
body {
    background-color: #F3E8DD;
}

.card1 {
    background-color: #C4DDFF;
    color: #001D6E;
    font-family: 'Merriweather', serif;
    justify-content: end;
    margin-right: 100px;
    margin-top: 50px;
    line-height: 30px;
}
.event-details li {
    text-decoration: none;
}
h6 {
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 5px;
}